server:
  port: 30002

spring:
  application:
    name: business-server

eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:8765/eureka
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.cloud.client.ipâ€address}:${spring.application.instance_id:${server.port}}
